body {
  font-family: 'Oswald';
  font-style: normal;

  text-align: center;

  color: #ffffff;
}

.hero {
  height: 822px;
  background-image: url('../assets/hero_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero__block {
  /* border: 1px solid red; */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero__content {
  /* border: 1px solid #ffffff; */
}

main {
  height: 700px;
  position: relative;
  background: #EEEEEE;
}

.main__content {
  /* border: 1px solid #000000; */
  font-family: 'Source Sans Pro';
  font-style: normal;

  text-align: center;

  color: #000000;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.main__content h2 {
    color: #464547;;
}

.main__content h3 {
    color: #666666;
}

.learn-more {
  height: 666px;
  background-image: url('../assets/learn-more_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.learn-more__block {
  /* border: 1px solid red; */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

footer {
  height: 170px;
  background-color: #464547;
  position: relative;
}

.footer__block {
  /* border: 1px solid red; */
  margin-left: 170px;
  position: absolute;

  text-align: left;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* or 119% */

  color: rgba(255, 255, 255, 0.4);
}
